<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8gEsAK14PPO_kgwp8_0i4XYlnLuNInbI</string>
	<key>GCM_SENDER_ID</key>
	<string>921397206784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.businessChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>businesschat-c3a79</string>
	<key>STORAGE_BUCKET</key>
	<string>businesschat-c3a79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921397206784:ios:21c4528c0d3f879acc1de5</string>
</dict>
</plist>